---
Language: Cpp
PenaltyReturnTypeOnItsOwnLine: 10000
TabWidth: 2
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Yes
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
IncludeBlocks: Preserve
BreakBeforeBraces: Custom
ContinuationIndentWidth: 1
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeConceptDeclarations: Always
RequiresExpressionIndentation: OuterScope
AlignArrayOfStructures: Right
ColumnLimit: 120
---
Language: Json
BasedOnStyle: llvm
