Checks:
  - "bugprone-*"
  - "modernize-*"
  - "performance-*"
  - "portability-*"
  - "readability-*"
  - "cppcoreguidelines-*"
  - "-clang-diagnostic-switch"
  - "-clang-analyzer-optin.core.EnumCastOutOfRange"
  - "-cppcoreguidelines-avoid-c-arrays"
  - "-modernize-avoid-c-arrays"
  - "-bugprone-easily-swappable-parameters"
  - "-bugprone-forward-declaration-namespace"
  - "-cppcoreguidelines-pro-bounds-pointer-arithmetic"
  - "-cppcoreguidelines-pro-type-union-access"
  - "-readability-identifier-length"
  - "-cppcoreguidelines-pro-bounds-constant-array-index"

WarningsAsErrors: "*"
FormatStyle: file

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.ClassCase, value: lower_case }
  - { key: readability-identifier-naming.StructCase, value: lower_case }
  - {
      key: readability-identifier-naming.TemplateParameterCase,
      value: CamelCase,
    }
  - { key: readability-identifier-naming.ConceptCase, value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - {
      key: readability-identifier-naming.MacroDefinitionCase,
      value: UPPER_CASE,
    }
  - {
      key: readability-identifier-naming.ConstexprVariableCase,
      value: lower_case,
    }
  - { key: readability-identifier-naming.GlobalConstantCase, value: lower_case }
  - { key: readability-identifier-naming.GlobalVariableCase, value: lower_case }
  - { key: readability-identifier-naming.MemberConstantCase, value: lower_case }
  - { key: readability-identifier-naming.StaticConstantCase, value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberCase, value: lower_case }
  - {
      key: readability-identifier-naming.ProtectedMemberCase,
      value: lower_case,
    }
  - { key: readability-identifier-naming.PublicMemberSuffix, value: "_" }
  - { key: readability-identifier-naming.PrivateMemberSuffix, value: "_" }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: "_" }
  - { key: readability-identifier-naming.GlobalConstantSuffix, value: "" }
  - { key: readability-identifier-naming.GlobalVariablePrefix, value: "" }
  - { key: readability-identifier-naming.StaticConstantPrefix, value: "" }
  - { key: readability-identifier-naming.StaticVariablePrefix, value: "" }
  - {
      key: cppcoreguidelines-pro-type-static-cast-downcast.StrictMode,
      value: false,
    }
  - {
      key: cppcoreguidelines-rvalue-reference-param-not-moved.AllowPartialMove,
      value: true,
    }

HeaderFilterRegex: "include/ouly/"
